{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<center>
	<main role="main" class="container">
    <div class="row">
    <div class="col-md-8">
<div class="col-sm-6 col-12">
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Join Today</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Sign Up</button>
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Acount? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
		</small>
	</div>
</div>
</div>
</div>
</div>
</main>
</center>



{% endblock content %}